<?xml version="1.0" ?>

<launch>
    <include file="$(find q_learning)/launch/demo.launch" />
    <include file="$(find rotors_gazebo)/launch/mav.launch">
        <arg name="paused" default="TRUE" />
        <arg name="mav_name" default="firefly" />
    </include>
    <include file="$(find mav_lowlevel_attitude_controller)/launch/mav_lowlevel_controller.launch" />

    <rosparam file="$(find controller)/config/params.yaml" />

    <node name="controller" pkg="controller" type="controller" output="screen" />
</launch>